@import "header";
@import "product_card";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $f-family;
  font-size: 12px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin: 0;
}

.main {
  margin-top: 50px;
}

.container {
  margin: 0 auto;
  max-width: ($product-card-size * $count-card) + (($count-card - 1) * $gap-card);
  display: grid;
  column-gap: 48px;
  row-gap: 50px;
  grid-template-columns: repeat(auto-fill, 200px);
}
