$f-family: roboto, sans-serif;
$main-color: #00acdc;
$header-height: 60px;
$img-width: 160px;
$img-height: 134px;

@mixin medium-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

@mixin small-text ($line-height) {
  font-size: 11px;
  line-height: $line-height;
}

@mixin large-text ($font-size) {
  font-weight: bold;
  font-size: $font-size;
}

%img-hover {
  outline: 3px solid #f3f3f3;
  transform: scale(1.2);
}

%link-hover {
  transition: background-color 1s, color 1s;
}
